html, body, header, img, nav, ul, li, a, aside, h2, section, p, br, figure,
figcaption, ol, form, label, input, select, option, textarea, footer {

  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

}

body {
  width: 900px;
  margin: 0 auto;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
}

aside li, section li {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="radio"], select, input[type="submit"] {

  cursor: pointer;
  outline: none;

}

section input[type="submit"]:last-child {

  background-color: gold;

}

section input[type="submit"]:last-child:hover {

  -webkit-filter: brightness(90%);

}

ol li:nth-of-type(2n) {

  background-color: lightgrey;

}

section[id="reviews"] + ol li:first-child {

  border-style: solid;
  border-top-width: 1px;

}

input[type="radio"] {

  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./stars.png);
  vertical-align: bottom;

}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav {
  float: right;
}

header img {
  float: left;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

nav li {
  display: inline;
  padding: 20px;
}

input {
  display: block;
}
